PORT=4000

CRYPT_SALT=10
JWT_SECRET=secret123123
JWT_REFRESH_SECRET=secret123123
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
LOG_LEVEL=log
LOG_MAX_FILE_SIZE=1024

DISABLE_THROTTLE_FOR_TESTS=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=knowledge_hub
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Local app + Docker PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/knowledge_hub?schema=public

# Docker app + Docker PostgreSQL
# DATABASE_URL=postgresql://postgres:postgres@db:5432/knowledge_hub?schema=public
