PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=knowledge_hub
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Local app + Docker PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/knowledge_hub?schema=public

# Docker app + Docker PostgreSQL
# DATABASE_URL=postgresql://postgres:postgres@db:5432/knowledge_hub?schema=public
